.NainVisual .visual_slide {
    width: 100%;
    height: 300px;
    background: #f6f6f6;
}

.NainVisual .visual_slide .slide_wrapper {
    position: relative;
    height: 300px;
}

.NainVisual .visual_slide .slide_wrapper>.slide {
    position: absolute;
    inset: 0 0 0 0;

    opacity: 0;
    transition: opacity 1s;
}

.NainVisual .visual_slide .slide_wrapper>.slide.on {
    opacity: 1;
}

.NainVisual .visual_slide .slide_wrapper .s1 {
    background: tomato;
}

.NainVisual .visual_slide .slide_wrapper .s2 {
    background: aqua;
}

.NainVisual .visual_slide .slide_wrapper .s3 {
    background: lemonchiffon;
}